[submodule "oRTP"]
	path = oRTP
	url = https://github.com/quan-haoliang/oRTP_CMU.git
[submodule "mediastreamer2"]
	path = mediastreamer2
	url = https://github.com/quan-haoliang/mediastreamer2_CMU.git
